html,body {
    padding: 0;
    margin: 0;
    background: #ccc;
    font-family: 'Poiret One', cursive;
    font-weight: 300;
}
h1 {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    font-size: 72px;
    font-weight: 300;
    text-align: center;
    margin: 0;
}
.slide {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1024px;
    height: 768px;
    background: url(../img/bg.png);
    margin-left: -512px;
    margin-top: -384px;
}
.col-1 {
    position: absolute;
    top: 340px;
    left: 100px;
    width: 70px;
    height: 160px;
    background: url(../img/col1.png);
    background-size: 100% 100%;
}
.col-2 {
    position: absolute;
    top: 320px;
    left: 200px;
    width: 70px;
    height: 180px;
    background: url(../img/col2.png);
    background-size: 100% 100%;
}
.col-3 {
    position: absolute;
    top: 290px;
    left: 300px;
    width: 70px;
    height: 210px;
    background: url(../img/col3.png);
    background-size: 100% 100%;
}
.col-4 {
    position: absolute;
    top: 280px;
    left: 400px;
    width: 122px;
    height: 220px;
    background: url(../img/col4.png);
    background-size: 100% 100%;
}

.col-5 {
    position: absolute;
    top: 280px;
    left: 700px;
    width: 122px;
    height: 240px;
    background: url(../img/col5.png);
    background-size: 100% 100%;
}
.col-6 {
    position: absolute;
    top: 280px;
    left: 800px;
    width: 122px;
    height: 220px;
    background: url(../img/col6.png);
    background-size: 100% 100%;
}


.value {
    position: absolute;
    color: #666666;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    width: 70px;
    margin-top: -36px;
}

.v1 {
    top: 340px;
    left: 100px;
}
.v2 {
    top: 320px;
    left: 200px;
}
.v3 {
    top: 290px;
    left: 300px;
}
.v4 {
    top: 280px;
    left: 400px;
}

.v5 {
    top: 280px;
    left: 700px;
}
.v6 {
    top: 280px;
    left: 800px;
}